.home-part3 {
  display: flex;
  flex-direction: column;
  width:90%;

  justify-content: center;
  align-items: center;
  font-family:inika_reg;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 20px;


}
.home-part3-1 {
    position: relative;
    display: flex;
   
    width: 100%;
    justify-content: center;

}
.home-part3-1 h1 {
    font-size: 55px;
    color: var(--event-font-big-title-color);
    font-family:inika_bold;
}
.home-part3-2 {
    position: relative;
    display: flex;
    
    width: 90%;
    height: 500px;
    
    justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 2px 2px 5px 0px rgb(22, 31, 13);
}
.home-part3-help1{
   
    visibility: hidden;
   

}
.home-part3-help2{
  
   visibility: hidden;

}
 

.home-part3-2-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    position: absolute;
    width: 50%;
    height: 500px;
   
    top: 0;
    left: 0;
}
.home-part3-2-text {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: center center;
    display: flex;
    position: absolute;
    width: 50%;
    height: 500px;
    background-color: var( --event-bg-text);
    top: 0;
    right: 0;
}
.home-part3-2-text-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;

}
.home-part3-2-text h1 {
    text-align: center;
    font-size: 20px;
}
.home-part3-2-text p {
    text-align: center;
   
}
.home-part3-3 {
    position: absolute;
   
    display: flex;
    flex-direction: column;
    width: 100%;
    
    justify-content: center;
    align-items: center;
   
    height: 100px;
    

   
}
.home-part3-3-index{
 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content:center;

    align-items: center;
    
}
.home-part3-3-index-div{
    width: 15px;
    height: 15px;
 
    border-radius: 20px;
    margin: 5px;
  
}
.home-part3-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

   
    
}
.home-part3-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    
    border-radius: 50px;
    position: absolute;
    bottom:0%;
    border: none;
    background-color: var(--btn_color);
    color: rgb(11, 40, 2);
    box-shadow: 2px 2px 4px 0px rgb(72, 177, 118);
    font-size: 2em;
    font-weight: bold;
  }
  .home-part3-buttons .prev {
    position: absolute;
    
   
    right: 92%;
  }
  .home-part3-buttons .next {

    left: 92%;
  }
  @media screen and (max-width: 1100px) {
  

    .home-part3-2-text h1 {
        font-size: 20px;
        
    }
    .home-part3-2-text p {
       font-size: 14px;
       
    }
    
 
   
  }

  @media screen and (max-width: 750px) {
    .home-part3 {
       
        position: relative;
        height: 100%;
        
       
    }
   
    .home-part3-1 h1 {
 
        font-size: 20px;
        text-align: center;
    }
    .home-part3-2 {
        position: relative;
        flex-direction: column;
        width: 95%;
        
        height: 500px;
    
       
    }
  
    .home-part3-help1{
        width: 100%;
        height: 250px;
        visibility: hidden;
       

    }
    .home-part3-help2{
        width: 100%;
        height: auto;
       visibility: hidden;

    }
    .home-part3-help2 h1{
        font-size: 18px;
       

    }
    .home-part3-help2 p{
        font-size: 12px;
       

    }
   
    .home-part3-2-image {
      
        width: 100%;
        height: 250px;
       
    }
    .home-part3-2-text {
       
       
        
                
             display: flex;
            flex-direction: column;

            position: absolute;
            width: 100%;
            height: 300px;
            background-color: var( --event-bg-text);
            top: 250px;
            right: 0;
            bottom: 0;
    
    }
    .home-part3-2-text-div {
        position: absolute;
        height: 300px;
        top: 0%;
        height: auto;
    }
    .home-part3-2-text h1 {
        height:auto;
        
    }
    .home-part3-2-text h1 {
        font-size: 20px;
        
    }
    .home-part3-2-text p {
       font-size: 14px;
       
    }
    .home-part3-3{
       
        position: static;
      
        height: auto;

    }
  
    .home-part3-buttons  .prev {
       
      position: static;
      font-size: 1em;
      }
      .home-part3-buttons  .next {
       
        position: static;
        font-size: 1em;
      }
      .home-part3-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
        width: 100%;
    
       
        
    }
      .home-part3-button {
        position: static;
        width: 35px;
        height: 35px;
       
      }
      .home-part3-3-index{
      position: static;
    background-color: aqua;
    height: auto;
    }
    .home-part3-3-index-div{
        
        margin-top: -10%;
        z-index: 2;
    }

  }

  @media screen and (max-width: 450px) {
   
  
    .home-part3 {
       
        position: relative;
        height: 100%;
        
       
    }
   
 
    .home-part3-2 {
        position: relative;
        flex-direction: column;
        width: 95%;
        
         height: 500px;;
    
       
    }
   
    .home-part3-2-image {
      
        width: 100%;
        height: 250px;
       
    }

    .home-part3-help1{
        width: 100%;
        height: 250px;
        visibility: hidden;
       

    }
    .home-part3-help2{
        width: 100%;
      
       visibility: hidden;

    }
    .home-part3-help2 h1{
        font-size: 18px;
       

    }
    .home-part3-help2 p{
        font-size: 12px;
       

    }
    .home-part3-2-text {
       
        display: flex;
  flex-direction: column;

  position: absolute;
  width: 100%;
  height: 300px;
  background-color: var(--event-bg-text);
  bottom: 0;
  right: 0;
    
    }
    .home-part3-2-text-div {
        position: absolute;

        top: 0%;
      
    }
   
    .home-part3-2-text h1 {
        width: 100%;
        height: 100%;
        font-size: 18px;
        
    }
    .home-part3-2-text p {
       font-size: 12px;
       
    }
    .home-part3-3 {
       
    }
    .home-part3-buttons  .prev {
       
     
       
      }
      .home-part3-buttons  .next {
       
       
      
      }
      .home-part3-button {
      
       
      }.home-part3-3-index{
    
     
    }
   

  }