.footer {
    background-color: var(--footer-color);
 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 14px;
    position: relative;
   
    color: var(--footer-font-color);
  }
  hr {
    border: none;
    border-top: 1px solid rgb(255, 255, 255);
   
    width: 90%;
  }
  .footer h1{
    font-size: 18px;
    font-family:inika_bold;
  }
  .footer li { 
    display: flex;
    font-size: 14px;
    font-family:inika_reg;
    margin-bottom: 5%;
   
  }
  .footer a{
    display: flex;
    font-size: 14px;
    font-family:inika_reg;
    margin-bottom: 5%;
    text-decoration: none;
    list-style: none;
    color:var(--footer-font-color);
 
  }
  footer h2{
    font-size: 14px;
    font-family:inika_reg;
  }
  footer h3{
    font-size: 14px;
    font-family:inika_reg;
  }
  footer p{
    font-size: 14px;
    font-family:inika_reg;
    margin-top: -3px;
  }
  .footer-top{
    position: relative;
    display: flex;
    flex-direction:row;
   justify-content: center;
   
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 14px;
    width: 98%;
    height: 90%;
  }
  .footer-top-1{
    display: flex;
    flex-direction: row;
    width: 60%;


  }
  .footer-top-2{
    display: flex;
    flex-direction: row;
    width: 40%;



   
  }
  .footer-description{
    position: relative;
    display: flex;
    flex-direction:column;
    padding-right: 5%;

   
    height: 100%;

    width: 80%;

  }
  .footer-logo-title{
     display: flex;
     flex-direction: row;
  

     align-items: center;
     height: 100%;
  }
  .footer-logo {

      background-image: url("/static/images/logo_mobile.png");
      object-fit: fill;
      width: 60px;
      height: 60px;
      background-size: cover;
      background-position: center;
  }
  
 
  .footer-aprops{
    display: flex;

    flex-direction: column;
    justify-content: center;
   padding-left: 5%;
   width: 80%;

  }

  
  .footer-menu {
    display: flex;
    flex-direction: column;

    width: 20%;
   padding-left: 0%;
   

   
 
 
   
  }
  
  .footer-menu ul {
    display: flex;
    flex-direction: column;
 
    list-style: none;
   
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
   
  }
  

  
  .footer-coordone {
    
    display: flex;
    flex-direction: column;

   
    align-items: center;
    width: 100%;
   
   
  }
  
  .footer-coordone-bank {
   display: flex;
   flex-direction: column;
  
   width: 50%;


  }
  
  .footer-coordone ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
  }
 
  .footer-icon{
    display: flex;
    margin-right: 5%;
    font-size: 20px;
  }
  .footer-coordone-bank ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column;
    height: 10%;
  

    justify-content: center;
    align-items: center;
  }

  
  @media screen and (max-width: 1100px) {
    
    .footer h1{
      font-size: 14px;
   
    }
    .footer li { 
      font-size: 11px;
    
    }
    .footer a{
      font-size: 11px;
  
    }
    footer h2{
      font-size: 11px;

    }
    footer h3{
      font-size: 11px;

    }
    footer p{
      font-size: 11px;
  

  }
  .footer-icon{
  
    font-size: 20px;
  }
  }
  @media screen and (max-width:700px) {
  
      
    .footer-top{
    
      flex-direction:column;
    
    }
    .footer-top-1{
     
      width: 100%;
  
     
    }
    .footer-top-2{
      width: 100%;
     
    }
    .footer-description{
     
      width: 60%;
     padding-right: 2%;
    
    }
    .footer-menu {
   
      width: 30%;
      margin-left: 5%;
      padding-left: 0%;
 
   
    }
    .footer-coordone {
    
      margin-left: 5%;

    }
    
    .footer-coordone-bank {
      margin-left: 5%;
      margin-right: 5%;
  
    }
    .footer-aprops{
   
      padding-left: 4%;
     width: 100%;
    }
    .footer h1{
      font-size:var(--footer_font_size_title_700);
   
    }
    .footer h2{
      font-size: var(--footer_font_size_title_700);
   
    }
    .footer h3{
      font-size: var(--footer_font_size_title_700);
   
    }
    .footer li{
      font-size: var(--footer_font_size_text_700);

    }
    .footer a{
      font-size: var(--footer_font_size_text_700);
    
      
   
    }
    .footer h2{
      font-size: var(--footer_font_size_title_700);
   
    }
    .footer h3{
      font-size:var(--footer_font_size_text_700);
   
    }
    footer p{
      font-size:var(--footer_font_size_textp_700);
   
    }
    .footer h4{
      font-size: 10px;
   
    }

    .footer-logo {

    
      width: 40px;
      height: 40px;
 
  }
  .footer-icon{
  
    font-size: 18px;
  }
  
  
  }
  
  
  @media screen and (max-width:450px) {
    .footer-aprops{
   
  
      width: 100%;
     }
    .footer h1{
      font-size: var(--footer_font_size_title_400);
   
    }
    .footer li{
      font-size: var(--footer_font_size_text_400);

    }
    .footer a{
      font-size: var(--footer_font_size_text_400);
      
   
    }
    .footer h2{
      font-size: var(--footer_font_size_title_400);
   
    }
    .footer h3{
      font-size: var(--footer_font_size_text_400);
   
    }
    .footer h4{
      font-size: 9px;
   
    }
    footer p{
      font-size: var(--footer_font_size_textp_400);
   
    }
    .footer-icon{
  
      font-size: 16px;
    }
  }