:root {
  
 margin: auto; 
 --navbar_color:#424223;
 --navbar_mobile_color:#424223;
 --navbar_mobile_click:#4F6C31;
 --mather-color:#A8D692;
 --title-color:#FF6B09;
 --aprops-color:#050900 ;
 --mession-color:rgb(231, 113, 35,0.5) ;
}
@font-face {
    font-family: inika_bold;
    src: url('../public/static/fonts/Inika-Bold.ttf');
      }
@font-face {
font-family: inika_reg;
src: url('../public/static/fonts/Inika-Regular.ttf');
    }