:root {
  
 margin: auto; 
 --navbar_color:#1b1200;
 --navbar_mobile_color:#424223;
 --navbar_mobile_click:#cbe200;
 --mather-color:#5a6f43;
 --title-color:#FF6B09;
 --aprops-color:#e6e6e6 ;
 --mession-color:rgb(231, 113, 35,0.5) ;
}
@font-face {
    font-family: inika_bold;
    src: url('../public/static/fonts/Inika-Bold.ttf');
      }
@font-face {
font-family: inika_reg;
src: url('../public/static/fonts/Inika-Regular.ttf');
    }