.home-part2{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    position: relative;
    overflow: hidden;

}
.home-part2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}
.messions-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.messions-title h1{
    font-size:70px;
    font-family:inika_bold;
    text-decoration: underline;
}
.messions-type{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
 
    width: 100%;

 
}
.mession{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    align-items: center;
    background-color: var(--mession-color);
    width: 30%;
    height: 200px;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0px rgb(22, 31, 13);

 
}
.mession h1{
    text-align: center;
    font-family:inika_bold;
 
}
.mession p{
   text-align: center;
   margin-top: -1rem;
   font-family:inika_reg;
 
}



  @media screen and (max-width: 1100px) {
    .messions-title h1{
        font-size:50px;
    
      
    }
    .mession h1{
        text-align: center;
        font-size: 25px;
      
     
    }
    .mession p{
       text-align: center;
       margin-top: -1rem;
       font-size: 18;
    
     
    }
    .mession{
      
        height: 250px;
   
    
     
    }
  }

  @media screen and (max-width:750px) {
    .messions-title h1{
        font-size:40px;
    
      
    }
    .messions-type{

        justify-content: center;
        align-items: center;
        flex-direction: column;
       
        width: 100%;
        height: 80%;
     
    }
    .mession{
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        width: 60%;
        height: 200px;
      
    
     
    }
    .mession h1{
      
      font-size: 20;
     
    }
    .mession p{
    
       margin-top: -1rem;
       font-size: 16;
     
    }
   

  }
  
  
  @media screen and (max-width:450px) {
    .messions-title h1{
        font-size:35px;
    
      
    }
    .mession{
       
        width: 90%;
        height: 200px;
      
    
     
    }
    .mession h1{
      
      font-size: 16;
     
    }
    .mession p{
    
       margin-top: -1rem;
       font-size: 12;
     
    }
    
  }