.home-part2{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;

}
.home-messions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;

}
.messions-title{
    

    height: 200px;
}
.messions-title h1{
    font-size:70px;

  
}
.messions-type{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    width: 90%;
    height: 300px;
 
}
.mession{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    background-color: var(--mession-color);
    width: 30%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0px rgb(186, 235, 142);

 
}
.mession h1{
   
  
 
}
.mession p{
   text-align: center;
   margin-top: -1rem;

 
}


@media screen and (max-width: 550px) {
    
    .messions-title{
    
    height:80px;
    
    }
    .messions-title h1{
        font-size:30px;
    
      
    }
    .messions-type{
    
       
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        width: 90%;
        height: 600px;
     
    }
    .mession{
        
        flex-direction: column;
        
       
        width: 100%;
        height: 180px;
       
    
     
    }
    .mession h1{
       
      font-size: 20px;
     
    }
    .mession p{
        font-size: 16px;
       text-align: center;
       margin-top: -1rem;
    
     
    }
    .home-part2{
      
       height: 700px;
       
   
   }
   .home-messions{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 700px;
   
   }
  }
  