@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.home-part4{

    display: flex;
    width: 100%;
   flex-direction: column;
   margin-bottom: 40px;
   font-family:inika_reg;
   justify-content: center;
   align-items: center;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: -3%;
  
   width: 100%;
}
.home-part4-title h1{

  text-align: center;
}
.home-figure{
  position: relative;
  display: flex;


  width: 50%;
  height: 500px;
  
  justify-content: center;
 align-items: center;
 overflow: hidden;
 border-radius: 20px;


}
.home-figure-index{
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 50%;
  height: 10%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-figure-index-div{
  display: flex;
  flex-direction: row;
  width: 15px;
    height: 15px;
    background-color: #d4b800;
    border-radius: 20px;
    margin: 5px;
}
figure.snip1390 {
  font-family:inika_reg;
  position: absolute;
  overflow: hidden;
  margin: 5%;
  min-width: 80%;
  max-width: 90%;
  width: 100%;
  color: #000000;
  height: 90%;
  text-align: center;
  font-size: 16px;
  background-color: #1b2504;
  padding: 10px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 6px 8px 0px rgb(22, 31, 13);

}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;

}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 10px 40px 50px;
  margin-top: 10px;
  background-color: #b3b597;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
  height: 300px;
  
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 40px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width:60px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

@media screen and (max-width:750px) {
  .home-figure{
   
    width: 95%;
 
  
  }
  figure.snip1390 blockquote:before {
 
    font-size: 40px;
    
  }
  figure.snip1390 blockquote {
    font-size: 0.8em;
  
    
  }
 
}


@media screen and (max-width:450px) {
  
}